@import '../../node_modules/bootstrap/scss/functions';

// Override theme colors
// $primary: #df0075;
// $light: #f2f2f2;
$secondary: #575f7d;

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

//Place any Bootstrap Variables that you wish to change here
// $font-family-base: 'Cairo', sans-serif;

@import '../../node_modules/bootstrap/scss/bootstrap';

// html {
// 	background: rgb(111, 77, 117) url('/static/img/bg.jpg') no-repeat center center;
// 	background-size: cover;
// 	background-attachment: fixed;
// }

// html,
// body {
// 	height: 100%;
// }

html {
	background: #002950 url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: transparent;
}

.overlay {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.sidebar {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.profile-image {
	width: 50%;

	@include media-breakpoint-up(md) {
		width: 100%;
	}
}

.card {
	&.bg-darkened {
		color: $white;
		background: rgba(0, 0, 0, 0.3);
	}
}
